@charset "UTF-8";
/* Палитра цветов */
/* цвет основного текста - #212121 */
/* вторичный цвет текста - #757575 */
/* цвет текста подвала вторичный - rgba(255, 255, 255, 0.6) */
/* цвет акцента - #2196F3 */
/* основной цвет фона - #ffffff*/
/* вторичный цвет фона - #F5F4FA */
/* цвет подвала - #2F303A */
.ut-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Утилитарный класс ссылки */
.ut-link {
  text-decoration: none;
}

/* Утилитарный класс оснавной контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Утилитарный класс основный заголовков */
.main-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.header-underline {
  border-bottom: 1px solid #ececec;
}

/* Утилита hide */
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Утилита ховера на ссылки */
.link-accent:hover,
.link-accent:focus {
  color: #2196f3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    min-width: 142px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    min-width: 155px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #212121;
}

.header {
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 768px;
    max-width: 1199px;
  }
}

.header-underline {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .mobile-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: inline-block;
  }
}

.icon-menu,
.icon-cross {
  fill: #212121;
}

@media screen and (max-width: 767px) {
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 10;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 81px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 60px;
  }
  .site-nav > .item {
    text-align: center;
  }
  .site-nav > .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav > .item:not(:first-child) {
    margin-left: 50px;
  }
}

.nav-link {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contact .item:not(:last-child) {
    margin-bottom: 16px;
  }
  .contact .item {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    margin-left: auto;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .contact .item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    margin-left: auto;
  }
  .contact .item:not(:first-child) {
    margin-left: 30px;
  }
}

.contact-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header .icon-smartphone, .header
.icon-envelope {
  margin-right: 5px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .filter-list-wrap {
    padding: 52px 15px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-list-wrap {
    padding: 52px 0px 22px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list-wrap {
    padding: 85px 0px 42px;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filter-list {
    width: 768px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.filter-list > .item {
  margin: 8px 4px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin: 0 -4px;
  }
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding: 6px 21px;
  border-radius: 4px;
  border-style: none;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover, .filter:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-main {
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}

.work-examples-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .work-examples-list {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .work-examples-list {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .work-examples-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-examples-list {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .work-examples-list {
    width: 1200px;
    padding-bottom: 94px;
  }
}

.work-examples-card {
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .work-examples-card {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .work-examples-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-examples-card {
    width: 354px;
  }
  .work-examples-card:nth-child(2n) {
    margin-left: 30px;
  }
  .work-examples-card:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-examples-card {
    width: 370px;
    margin: 15px;
  }
  .work-examples-card:nth-child(3n) {
    margin-right: 0;
  }
  .work-examples-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.work-examples-card:hover, .work-examples-card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.work-examples-card a {
  display: block;
}

.thumb {
  height: 294px;
}

.thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.work-examples-card .content-img {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .work-examples-card .content-img {
    max-width: 450px;
    height: auto;
  }
}

.work-examples-card .content-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  padding: 0 24px;
  display: block;
  width: 450px;
  height: 294px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0.9;
  background-color: #2196f3;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-card:hover .content-img::after,
.work-examples-card:focus .content-img::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.work-examples-card .description {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  margin: 0;
  padding: 24px;
  opacity: 0.9;
  z-index: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-card:hover .description,
.work-examples-card:focus .description {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.work-examples-card .card-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.card-content > .subject {
  margin: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content > .caption {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.menu-button {
  padding: 0;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.social-networks {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks .icon {
  display: block;
  width: 44px;
  height: 44px;
}

.social-networks svg {
  border-radius: 25px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks svg:hover, .social-networks svg:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts-cntr {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet-wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet-wrap {
    width: 540px;
  }
}

.footer .logo {
  margin-bottom: 20px;
  padding: 0;
}

.logo-white {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-call-container {
    margin-bottom: 60px;
  }
}

.footer-call {
  display: inline-block;
  margin-bottom: 21px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer-call {
    margin-bottom: 20px;
  }
}

.social-networks li:not(:first-child) {
  margin-left: 11px;
}

.footer-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-networks {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer .social-networks {
    max-width: 206px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-contacts {
  font-style: normal;
}

.footer-address,
.footer-mail,
.footer-number {
  display: block;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  margin-bottom: 8px;
  color: #ffffff;
}

.footer-mail {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-number {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}

.mailling-label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailling-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .mailling-form-wrap {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailling-form-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 540px;
  }
}

.mailling-form {
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
  outline: none;
}

@media screen and (max-width: 480px) {
  .mailling-form {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .mailling-form {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .mailling-form {
    display: inline-block;
    width: 310px;
  }
}

.mailling-form::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailling-form:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailling-form::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailling-form::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailling-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .mailling-button {
    margin-left: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .mailling-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-send {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=main-portfolio.css.map */