// Секция Приемуществ

.advantages {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $pre-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
}

.advant-items-title {
  @include font-styles($font-weight: 700);
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;

  @media screen and (max-width: $pre-tablet) {
    text-align: center;
  }
}

.advantages-description {
  @include font-styles($line-height: 1.71);
  color: $secondary-text-color;
}

.advant-items {
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;

    & > .item {
      width: 354px;
    }

    & > .item:nth-child(2n) {
      margin-left: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    width: $desktop;

    & > .item {
      width: 270px;
    }

    & > .item:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.advant-items > .item::before {
  content: "";
  display: inline-flex;
  border-radius: 4px;
  // width: 278px;
  height: 120px;

  background-position: center;
  background-image: cover;
  background-repeat: no-repeat;
  background-color: $secondary-bgc-color;

  @media screen and (max-width: $mobile) {
    width: 100%;
  }

  @media screen and (min-width: $upper-mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.advant-items {
  & > .item:nth-child(1)::before {
    content: "";

    background-image: url(../images-web-studio/icons/antenna.svg);
  }

  & > .item:nth-child(2)::before {
    content: "";

    background-image: url(../images-web-studio/icons/clock.svg);
  }

  & > .item:nth-child(3)::before {
    content: "";

    background-image: url(../images-web-studio/icons/diagram.svg);
  }

  & > .item:nth-child(4)::before {
    content: "";

    background-image: url(../images-web-studio/icons/astronaut.svg);
  }
}
