// Секция Приемуществ

.advantages {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
}

.advant-items-title {
  @include font-styles($font-weight: 700);
  text-transform: uppercase;
}

.advantages-description {
  @include font-styles($line-height: 1.71);
  color: $secondary-text-color;
}

.advant-items > .item + .item {
  margin-left: 30px;
}

.advant-items > .item::before {
  content: "";
  display: inline-flex;
  border-radius: 4px;
  width: 278px;
  height: 117px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: $secondary-bgc-color;
}

.advant-items {
  & > .item:nth-child(1)::before {
    content: "";

    background-image: url(../images-web-studio/icons/antenna.svg);
  }

  & > .item:nth-child(2)::before {
    content: "";

    background-image: url(../images-web-studio/icons/clock.svg);
  }

  & > .item:nth-child(3)::before {
    content: "";

    background-image: url(../images-web-studio/icons/diagram.svg);
  }

  & > .item:nth-child(4)::before {
    content: "";

    background-image: url(../images-web-studio/icons/astronaut.svg);
  }
}
