// Стили блока рассылки подвала

// .mailling-cntr {
//   margin-left: 102px;
// }

.mailling-label {
  display: inline-block;
  margin-bottom: 20px;

  @include font-styles($font-weight: 700);
  text-transform: uppercase;

  color: $inverse-color;
}

.mailling-form-wrap {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $upper-mobile) and (max-width: $pre-desktop) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    width: 540px;
  }
}

.mailling-form {
  @media screen and (max-width: $mobile) {
    display: block;
  }

  @media screen and (max-width: $desktop) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
    width: 310px;
  }

  height: 50px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: $inverse-color;
  background-color: $footer-bgc-color;
  outline: none;
}

.mailling-form {
  &::placeholder {
    @include font-styles($font-size: 16px, $line-height: 1.25);

    color: rgba(255, 255, 255, 0.6);
  }
}

.mailling-button {
  display: flex;
  align-items: center;

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }

  @media screen and (max-width: $pre-desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-send {
  margin-left: 10px;
  fill: $inverse-color;
}
