// Основные стили подвала

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;

  background-color: $footer-bgc-color;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .logo {
  margin-bottom: 10px;
  padding: 0;
}

.logo-white {
  color: $inverse-color;
}

//  Стили блока социальные сети подвала

.footer-call {
  display: inline-block;
  margin-bottom: 21px;

  color: $inverse-color;

  @include font-styles($font-weight: 700);
  text-transform: uppercase;
}

.social-networks {
  li:not(:first-child) {
    margin-left: 11px;
  }
}

.footer-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  fill: $inverse-color;
  background-color: $footer-bg-icon-color;
}

.footer .social-networks {
  padding: 0;
}
