// Основные стили подвала

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bgc-color;

  @media screen and (max-width: $pre-desktop) {
    text-align: center;
  }
}

.footer-container {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: $desktop;
  }

  margin-left: auto;
  margin-right: auto;
  // align-items: baseline;
  // padding-bottom: 28px;
  // padding-left: 15px;
  // padding-right: 15px;
}

@media screen and (max-width: $pre-desktop) {
  .footer-contacts-cntr {
    margin-bottom: 60px;
  }
}

.footer-tablet-wrap {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    justify-content: space-evenly;
  }

  @media screen and (min-width: $desktop) {
    width: 540px;
  }
}

.footer .logo {
  margin-bottom: 20px;
  padding: 0;
}

.logo-white {
  color: $inverse-color;
}

//  Стили блока социальные сети подвала

@media screen and (max-width: $pre-tablet) {
  .footer-call-container {
    margin-bottom: 60px;
  }
}

.footer-call {
  display: inline-block;
  margin-bottom: 21px;

  color: $inverse-color;

  @include font-styles($font-weight: 700);
  text-transform: uppercase;

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 20px;
  }
}

.social-networks {
  li:not(:first-child) {
    margin-left: 11px;
  }
}

.footer-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  fill: $inverse-color;
  background-color: $footer-bg-icon-color;
}

.footer .social-networks {
  padding: 0;

  @media screen and (max-width: $pre-tablet) {
    max-width: 206px;
    margin-left: auto;
    margin-right: auto;
  }
}
