// Стили навигации шапки

.nav {
  display: flex;
}

.site-nav {
  margin-left: 80px;
}

.item:not(:first-child) {
  .site-nav & {
    margin-left: 50px;
  }
}

.site-nav > .item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  color: inherit;

  @include font-styles($font-weight: 500, $letter-spacing: 0.02em);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
