// основные стили шапки

.header {
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.header-underline {
  border-bottom: 1px solid #ececec;
}
