// Стили навигации шапки

// .nav {
//   display: flex;
// }

// .site-nav {
//   margin-left: 80px;
// }

// .item:not(:first-child) {
//   .site-nav & {
//     margin-left: 50px;
//   }
// }

.site-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;

    & > .item {
      text-align: center;
      // padding-top: 32px;
      // padding-bottom: 32px;
    }

    & > .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.nav-link {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;

  color: inherit;

  @include font-styles(500, 18px, 1.16, 0.02em);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
