// Основные стили секции Герой

.hero-scn {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images-web-studio/hero-bgi.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Стили заголовка секции Герой

.hero-title {
  width: 646px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;

  color: $inverse-color;
  @include font-styles(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;
}
