// Основные стили секции Герой

.hero-scn {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $pre-tablet) {
    padding: 118px 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    padding: 118px 204px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    padding: 200px 370px;
  }

  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images-web-studio/hero-bgi.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // @media screen and (max-width: $tablet) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(47, 48, 58, 0.8),
  //       rgba(47, 48, 58, 0.8)
  //     ),
  //     url(../images-web-studio/mobile-hero-bgi-optimized.jpg);
  //   max-width: $mobile;
  //   padding: 118px 60px;
  // }

  @media screen and (min-width: $mobile) {
    // width: $mobile;
  }
}

// Стили заголовка секции Герой

.hero-title {
  // width: 646px;
  margin-top: 0;
  // margin-right: auto;
  // margin-left: auto;
  margin-bottom: 30px;

  color: $inverse-color;
  @include font-styles(900, 26px, 1.62, 0.06em);
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    @include font-styles(900, 44px, 1.36, 0.06em);
  }
}
