// Секция Занятий

.occupations {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.occupations-list .item {
  position: relative;
}

.occupations-items-caption {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  color: $inverse-color;
  background-color: $bgc-occupations-items-caption;

  @include font-styles($font-weight: 700, $line-height: 1.17);
  text-transform: uppercase;
}

.occupations-list {
  & > .item + .item {
    margin-left: 30px;
  }
}
