// Секция Наша команда

.our-team-saction {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $secondary-bgc-color;
}

.card-title {
  margin-top: 30px;
  margin-bottom: 10px;

  @include font-styles(500, 16px, 1.19);

  color: $main-text-color;
}

.position {
  margin-bottom: 16px;

  @include font-styles($font-size: 16px, $line-height: 1.19);
  color: $secondary-text-color;
}

.team-cards-item {
  width: 270px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;

  background-color: $main-bgc-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-cards-item + .team-cards-item {
  margin-left: 30px;
}
