// Стили фильтров на сранице Портфолио

.filter-list {
  justify-content: center;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 56px;
  cursor: pointer;

  & > .item:not(:first-child) {
    margin-left: 8px;
  }
}

.filter {
  @include font-styles(500, 16px, 1.62, 0.03em);
  text-align: center;

  color: $main-text-color;
  padding: 6px 21px;
  border-radius: 4px;
  border-style: none;

  background-color: $secondary-bgc-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $inverse-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
