// Миксины

@mixin font-styles(
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 1.14,
  $letter-spacing: 0.03em
) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
